@font-face {
  font-family: PureItalic;
  src: url(../../../../src/assets/fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: mince;
  src: url(../../../../src/assets/fonts/Diphylleia-Regular.ttf);
}
@font-face {
  font-family: regular;
  src: url(../../../../src/assets/fonts/PTSerif-Regular.ttf);
}
.biscui {
  width: 98.9vw;
  height: auto;
  background-color: black;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.biscui .titre {
  position: absolute;
  top: 90px;
  color: #c9a74d;
  font-family: PureItalic;
}
.biscui .titre h3 {
  font-size: 36px;
  border-bottom: 1px solid #c9a74d;
  padding-bottom: 10px;
}
.biscui .cartes {
  width: 84%;
  height: auto;
  flex-wrap: wrap;
}
.biscui .cartes .carte {
  width: 340px;
  background-color: #131313;
  height: 470px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 90px;
}
.biscui .cartes .carte h4 {
  color: #c9a74d;
  font-family: "italic";
  text-align: center;
}
.biscui .cartes .carte img {
  width: 140px;
  height: 130px;
  border-radius: 80px;
  border: 1px solid #c9a74d;
}
.biscui .cartes .carte h5 {
  color: #c9a74d;
}
.biscui .cartes .carte p {
  font-family: regular;
  color: white;
  text-align: center;
}
.biscui .cartes .carte button {
  border-radius: 15px;
  width: 150px;
  height: 5vh;
  border: none;
  font-family: PureItalic;
  color: black;
  background-color: #c9a74d;
}
.biscui .cartes .carte button:hover {
  background-color: #131313;
  color: #c9a74d;
}
.biscui .cartes .carte .qte {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 63%;
}
.biscui .cartes .carte .qte .btn-qte {
  background-color: #131313;
  color: #c9a74d;
  font-size: 25px;
  border: 1px solid #c9a74d;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}